@using GChat.ViewComponents;
@model Tuple<string, List<ItemMessage>>;

<h1>@Model.Item1</h1>
<div id="print" class="print-message scroll-effect">
    @{
        #nullable disable
        string side = "left";
        foreach (ItemMessage message in Model.Item2)
        {
            side = side == "left" ? "right" : "left";
            <div class="message @side">
                <span class="text">@message.Text</span>
                <div class="info">
                    <span class="username">@message.UserName</span>
                    <span class="published-date">@message.PublishedDate</span>
                </div>
            </div>
        }
    }
</div>