@using GChat.ViewComponents;
@model Tuple<string, string, List<ItemMessage>>;

<h1>@Model.Item2</h1>

<div id="print" class="print-message scroll-effect">
    @{
        #nullable disable

        foreach (ItemMessage message in Model.Item3)
        {
            <div class='message @(Model.Item1 == message.UserName ? "right" : "left")'>
                <span class="text">@message.Text</span>
                <div class="info">
                    <span class="username">@message.UserName</span>
                    <span class="published-date">@message.PublishedDate</span>
                </div>
            </div>
        }
    }
</div>